<%- include('partials/header') %>
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1>Thank You</h1>
    <p><%= user.email %></p>
</div>
<%- include('partials/footer') %>