<%- include('partials/header') %>
    <!-- Intro Image-->
    <section id="intro" style="background: url(/img/hello.gif) center center no-repeat; background-size: cover;" class="intro-section pb-2">
      <div class="container text-center">
        <!-- <h1 data-animate="fadeInDown" class="text-shadow mb-5">I am Pulkit</h1> -->
        
        <a href="/users/register"><button data-animate="fadeInUp"  class="btn btn-primary" id="about_button">Sign Up as student</button></a>
        <br>
        <a href="/users/login"><button data-animate="fadeInUp"  class="btn btn-primary" id="about_button">Sign In as student</button></a>
        <br>
        <a href="/student"><button data-animate="fadeInUp"  class="btn btn-primary" id="about_button">Display all student</button></a>
        <br>
        <a href="/comment_student"><button data-animate="fadeInUp"  class="btn btn-primary" id="about_button">Display comment by student</button></a>
        <br>

      </div>
    </section>

<%- include('partials/footer') %>
